*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc_REMOTE_17708.xml
.idea/misc_LOCAL_17708.xml
.idea/misc_BASE_17708.xml
.idea/misc_BACKUP_17708.xml
